## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [5]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [7]:
total_sum = sum(num for num in list_01 if 10 < num < 100 or 200 < num < 500)
print(total_sum)

1291

#### Задача 2

Дана строка:

In [9]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [15]:
def word_count(word,some_string):
    result = []
    list_word = some_string.split(' ')    
    for item in list_word:
        if item[0].lower() == word:
            result.append(item)
    return result
            
word_count('w',some_string)

['written', 'winners.', 'When', 'winner', 'writes', 'which']

In [21]:
import re
def print_words(letter):
    pattern = fr'\b{letter}\w+'
    list_words = re.findall(pattern,some_string,re.I)
    print(list_words)
print_words('h')

['History', 'history', 'history']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [51]:
import random
def generate_sequence():
    sequence = [random.randint(0, 9) for _ in range(6)]
    if not any(digit == 3 for digit in sequence):
        replace_index = random.randint(0, len(sequence) - 1)
        sequence[replace_index] = 3
    
    return ''.join(map(str, sequence))

print(generate_sequence())

282603

In [76]:
import random
def random_number():
    n = ''
    while '3' not in n:
        n = ''.join([str (random.randint(0, 9)) for i in range(6)])
    print(n)
random_number()

984384

#### Задача 4

Данные студентов представлены в виде списка списков:

In [78]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [82]:
students_dicts = {}
for item in students:
    students_dicts.setdefault(item[0],item[1:])
print(students_dicts)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

In [85]:
students_dict = dict()
for x in students:
    students_dict[x[0]] = x[1:]
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [185]:
number_group = 'БСТ163'
group_list = []
for key,value in students_dict.items():
        if ", ".join(value[-1:]) == number_group:
            group_list.append(value[:4])

group_list.sort(key=None)
for name in enumerate (group_list,start = 1):
   print(list(name))

[1, ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009']]

In [101]:
def print_group(group):
    group_list = []
    for x in students_dict.values():
        if x[-1] == group:
            group_list.append(f'{x[0]} {x[1]} {x[2]}')
    sort_list = sorted(group_list)
    for i,x in enumerate(sort_list):
        print(i+1,x)
print_group('БСТ161')

1 Антонов Антон Игоревич
2 Боков Игорь Харитонович
3 Потапов Дмитрий Станиславович
4 Степанова Наталья Александровна

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [109]:
class Student:
    def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
        self.id = s_id
        self.ln = last_name
        self.fn = first_name
        self.pn = patronomic_name
        self.d = date
        self.g = group
        
    def add_to_dict(self):
        if self.id in students_dict.keys():
            print('Такой студент существует')
        else:
            students_dict[self.id] = [self.ln , self.fn , self.pn, self.d, self.g]
        
    def update_dict(self):
        students_dict[self.id] = [self.ln , self.fn , self.pn, self.d, self.g]
        
    def change_group(self, new_group):
        self.g = new_group
        
    def change_id(self, new_id):
        self.id = new_id
        
    def print_data(self):
        print(f'{self.id} {self.ln} {self.fn} {self.pn}')

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [111]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [113]:
volkova.print_data()

0001 Волкова Галина Сергеевна

In [117]:
volkova.update_dict()
students_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [119]:
volkova.change_group('БСТ200')
volkova.update_dict()
students_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ200'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [123]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [127]:
matrix_t = [list(x) for x in zip(*matrix)]
matrix_t

[[0, 6, 3, 4, 5],
 [1, 2, 3, 6, 7],
 [2, 2, 3, 7, 3],
 [4, 1, 3, 1, 4],
 [8, 9, 3, 2, 0]]